<!DOCTYPE html>
<html lang="en">
	<head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <title>NHKBP Pondok Gede</title>

	    <!-- Bootstrap core CSS -->
	    <!-- <link href="../../assets/css/bootstrap.css" rel="stylesheet"> -->
	    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
	    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
	    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css"> -->
	    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.min.css"> -->

	    <!-- Custom styles for this template -->
	    <link href="../../assets/css/style.css" rel="stylesheet">

		<!-- Website Font style -->
	    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />  -->
		<link rel="stylesheet" href="../../assets/css/font-awesome.min.css" />
		<!-- Google Fonts -->
		<!-- <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'> -->
		<!-- <link href="assets/css/passionOne.min.css" rel='stylesheet' type='text/css'> -->
		<!-- <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'> -->

		<!-- Website CSS style -->
		<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/> -->
		<!-- <link rel="stylesheet" href="assets/css/bootstrapValidator.min.css"/> -->

		<!-- JS, Jquery Validator Field Form -->
		<!-- <script src="//code.jquery.com/jquery-3.3.1.min.js"></script> -->
		<!-- <script src="assets/js/jquery-3.3.1.min.js"></script> -->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
		<script src="../../assets/js/jquery.min.js"></script>

		<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script> -->
		<!-- <script type="text/javascript" src="assets/js/bootstrapValidator.min.js"></script> -->
		<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.js"></script> -->

		<!-- JS Select Picker -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script> -->
		<!-- <script type="text/javascript" src="assets/js/bootstrap-select.min.js"></script> -->

		<!-- Custom Font -->
		<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise" rel="stylesheet">
	</head>

  	<body>

    <!-- Start Navbar -->
	  	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/nhkbp-pdgede">NHKBP Pondok Gede</a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="/nhkbp-pdgede">Home</a></li>
	            <li class="active"><a href="donation.html">Donation</a></li>
	            <!-- <li><a href="#sponsor">Sponsor</a></li> -->
	            <li><a href="product.html">Products</a></li>
	            <li><a href="registration.php">Registration</a></li>
	            <li><a href="login.php">Login</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
    <!-- End Navbar -->

 	<!-- Start Body -->
		<div id="donationwrap">
		    <div class="container">
		    	<div class="row centered mt mb" style="height: 50px">
					<div class="col-lg-6 col-lg-offset-3">
					</div>
				</div><! --/row -->
				<div class="row centered mt mb">
					<div class="col-lg-6 col-lg-offset-3">
						<!-- <h4>WELCOME TO</h4> -->
						<h1 style="color: white; font-family: 'Tangerine', cursive; font-size: 50px;">“It's not how much we give but how much love we put into giving.”</h1>
						<h4 style="color: white;">- Mother Teresa -</h4>
					</div>
					<!-- <img src="assets/img/logo.png" class="img-responsive center-block"> -->
				</div><! --/row -->
		    </div> <!-- /container -->
		</div><! --/donationwrap -->
		
		<div class="container">
			<div class="row centered mt mb">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>About Donation</h1>
					<p>Naposo HKBP Pondok Gede is a youth christian batak organization Ressort Pondok Gede which is located in District IX. The donation you provide will be used to carry out the activities of Parheheon Naposo HKBP Pondok Gede 2018.</p>
				</div>
			</div><! --/row -->
		</div><! --/container -->

		<div class="container">
			<div class="row centered mt mb">
				<h1>How To Donate</h1>
				<div class="col-lg-6 col-md-6 col-sm-6 gallery">
					<h3>Bank Transfer</h3>
						<img src="../../assets/img/home/donation/bca.png" class="img-responsive">
						<!-- <hr> -->
						<!-- <p>A/N Yeftah Christianto</p>
						<p>Nomor Rekening 6541223514</p> -->
				</div>

				<div class="col-lg-6 col-md-6 col-sm-6 gallery">
					<h3>Appointment</h3>
					<img src="../../assets/img/home/donation/appointment.jpg" class="img-responsive">
					<!-- <hr>
					<p><i class="fa fa-whatsapp" aria-hidden="true"> </i> || Whatsapp || 0877-8104-5077 || Yefta</p>
					<p><i class="fa fa-whatsapp" aria-hidden="true"> </i> || Whatsapp || 0821-1105-8892 || Tio</p> -->
				</div>
			</div>
			<hr>
			<p style="text-align: center;"><i class="fa fa-whatsapp" aria-hidden="true"> </i> || Whatsapp || 0877-8104-5077 || Yefta</p>
			<p style="text-align: center;"><i class="fa fa-whatsapp" aria-hidden="true"> </i> || Whatsapp || 0821-1105-8892 || Tio</p>

			<div class="row centered mt mb">
				<h3>Regards,</h3>
				<h3 style="font-family: 'Monsieur La Doulaise', cursive; font-size: 50px;color: #3e9ac3">Panitia Parheheon</h3>
			</div><!-- /row -->
		</div><! --/container -->

		<section id="sponsor"></section>
		<div class="container">
			<div class="row centered mt mb">
				<h1>Our Sponsors</h1>

				<!-- 1 Row Bagi 6 -->
				<!-- <div class="col-lg-2 col-md-2 col-sm-2 gallery">
					<a href="#"><img src="../assets/img/donation/pocari.png" class="img-responsive"></a>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 gallery">
					<a href="#"><img src="../assets/img/donation/pocari.png" class="img-responsive"></a>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 gallery">
					<a href="#"><img src="../assets/img/donation/pocari.png" class="img-responsive"></a>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 gallery">
					<a href="#"><img src="../assets/img/donation/pocari.png" class="img-responsive"></a>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 gallery">
					<a href="#"><img src="../assets/img/donation/pocari.png" class="img-responsive"></a>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 gallery">
					<a href="#"><img src="../assets/img/donation/pocari.png" class="img-responsive"></a>
				</div> -->
				<!-- 1 Row Bagi 3 -->
				<!-- <div class="col-lg-4 col-md-4 col-sm-4 gallery">
					<a href="#"><img src="../assets/img/donation/pocari.png" class="img-responsive"></a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 gallery">
					<a href="#"><img src="../assets/img/donation/pocari.png" class="img-responsive"></a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 gallery">
					<a href="#"><img src="../assets/img/donation/pocari.png" class="img-responsive"></a>
				</div> -->
				<!-- 1 Row Bagi 2 -->
				<div class="col-lg-6 col-md-6 col-sm-6 gallery">
					<a href="#"><img src="http://placehold.it/1287x600" class="img-responsive"></a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 gallery">
					<a href="#"><img src="http://placehold.it/1287x600" class="img-responsive"></a>
				</div>
				<!-- 1 Row -->
				<!-- <div class="col-lg-12 col-md-12 col-sm-12 gallery">
					<a href="#"><img src="../assets/img/donation/pocari.png" class="img-responsive"></a>
				</div> -->

			</div><! --/row -->
		</div><! --/container -->
		
		<div id="social">
			<div class="container">
				<div class="row centered">
					<div class="col-lg-2">
						<a href="https://nhkbppdgede.wordpress.com"><i class="fa fa-wordpress"></i></a>
					</div>
					<div class="col-lg-2">
						<a href="https://www.facebook.com/nhkbp.gede"><i class="fa fa-facebook"></i></a>
					</div>
					<div class="col-lg-2">
						<a href="https://twitter.com/nhkbp_pdgede"><i class="fa fa-twitter"></i></a>
					</div>
					<div class="col-lg-2">
						<a href="https://id.pinterest.com/hkbppdgede"><i class="fa fa-pinterest"></i></a>
					</div>
					<div class="col-lg-2">
						<a href="https://www.instagram.com/nhkbp_pdgede"><i class="fa fa-instagram"></i></a>
					</div>
					<div class="col-lg-2">
						<a href="https://path.com/55595b38286ba13c8233a81b"><img src="../../assets/img/home/path.png" class="img-responsive center-block"></a>
					</div>
				
				</div><! --/row -->
			</div><! --/container -->
		</div><! --/social -->
	<!-- End Body -->

	<!-- Start Footer -->
		<div id="footerwrap">
			<div class="container">
				<div class="row centered">
					<div class="col-lg-4">
						<p><b>- We Can Do All Things Through Christ -</b></p>
					</div>
				
					<div class="col-lg-4">
						<p>Jalan Taman Pondok Gede Blok D1 No.2, Jatirahayu, Pondokmelati, Jatirahayu, Pondokmelati, Kota Bks, Jawa Barat 17414.</p>
					</div>
					<div class="col-lg-4">
						<p>hkbp.pdgede@gmail.com</p>
					</div>
				</div>
			</div>
		</div><! --/footerwrap -->
	<!-- End Footer -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    	<script src="../../assets/js/bootstrap.min.js"></script>
  	</body>
</html>
