<!DOCTYPE html>
<html lang="en">
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <title>NHKBP Pondok Gede</title>

	    <!-- Bootstrap core CSS -->
	    <!-- <link href="../../assets/css/bootstrap.css" rel="stylesheet"> -->
	    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
	    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
	    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css"> -->
	    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.min.css"> -->

	    <!-- Custom styles for this template -->
	    <link href="../../assets/css/style.css" rel="stylesheet">

		<!-- Website Font style -->
	    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />  -->
		<link rel="stylesheet" href="../../assets/css/font-awesome.min.css" />
		<!-- Google Fonts -->
		<!-- <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'> -->
		<!-- <link href="assets/css/passionOne.min.css" rel='stylesheet' type='text/css'> -->
		<!-- <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'> -->

		<!-- Website CSS style -->
		<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/> -->
		<!-- <link rel="stylesheet" href="assets/css/bootstrapValidator.min.css"/> -->

		<!-- JS, Jquery Validator Field Form -->
		<!-- <script src="//code.jquery.com/jquery-3.3.1.min.js"></script> -->
		<!-- <script src="assets/js/jquery-3.3.1.min.js"></script> -->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
		<script src="../../assets/js/jquery.min.js"></script>

		<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script> -->
		<!-- <script type="text/javascript" src="assets/js/bootstrapValidator.min.js"></script> -->
		<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.js"></script> -->

		<!-- JS Select Picker -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script> -->
		<!-- <script type="text/javascript" src="assets/js/bootstrap-select.min.js"></script> -->

		<!-- custom CSS -->
		<link href="../../assets/css/full-slider.css" rel="stylesheet">

	</head>
	<body>

	<!-- Start Navbar -->
	  	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/nhkbp-pdgede">NHKBP Pondok Gede</a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="/nhkbp-pdgede">Home</a></li>
	            <!-- <li><a href="#games">Events</a></li> -->
	            <li><a href="donation.html">Donation</a></li>
	            <li class="active"><a href="product.html">Products</a></li>
	            <li><a href="registration.php">Registration</a></li>
	            <li><a href='login.php'>Login</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
    <!-- End Navbar -->

    <!-- Start Body -->
	 	<header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('../../assets/img/home/product/product.jpg');"></div>
                <div class="carousel-caption">
                    <!-- <h2>Caption 1</h2> -->
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('../../assets/img/home/product/product1.jpg');"></div>
                <div class="carousel-caption">
                    <!-- <h2>Caption 2</h2> -->
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('../../assets/img/home/product/product2.jpg');"></div>
                <div class="carousel-caption">
                    <!-- <h2>Caption 3</h2> -->
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

	  	<div class="container">
		  	<div class="row centered mt mb">
		  		<div class="col-lg-4 col-md-4 col-sm-4">
	              <div class="card h-100">
	                <a href="#"><img class="card-img-top" src="../../assets/img/home/product/itemProduct1.jpg" alt="" style="width:100%";></a>
	                <div class="card-body">
	                  <h4 class="card-title">
	                    <a href="#">B2 Panggang</a>
	                  </h4>
	                  <h5>Rp 200.000</h5>
	                  <p class="card-text">Makanan ini cocok banget buat menyempurnakan hari baik kamu, kombinasi daging babi dan koki pilihan, membuat kami menjamin dengan dagingnya yang "crunchy" dan rasanya yang Numero Uno akan menyempurnakan hari baik kamu.</p>
	                </div>
	                <div class="card-footer">
	                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
	                </div>
	              </div>
	            </div>

	            <div class="col-lg-4 col-md-4 col-sm-4">
	              <div class="card h-100">
	                <a href="#"><img class="card-img-top" src="../../assets/img/home/product/itemProduct2.jpg" alt="" style="width:100%";></a>
	                <div class="card-body">
	                  <h4 class="card-title">
	                    <a href="#">B2 Kecap</a>
	                  </h4>
	                  <h5>Rp 200.000</h5>
	                  <p class="card-text">Makanan ini cocok banget untuk memperbaiki hari kamu yang pahit, perpaduan sempurna antara daging babi dan koki terbaik, membuat kami menjamin dengan rasanya yang manis akan memperbaiki hari kamu yang pahit.</p>
	                </div>
	                <div class="card-footer">
	                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
	                </div>
	              </div>
	            </div>

             	<div class="col-lg-4 col-md-4 col-sm-4">
	              <div class="card h-100">
	                <a href="#"><img class="card-img-top" src="../../assets/img/home/product/itemProduct3.jpg" alt="" style="width:100%";></a>
	                <div class="card-body">
	                  <h4 class="card-title">
	                    <a href="#">Saksang</a>
	                  </h4>
	                  <h5>Rp 200.000</h5>
	                  <p class="card-text">Makanan wajib khas Batak ini memang cocok banget jadi makanan yang wajib kamu cobain, kesempurnaan daging babi, bumbu, dan koki yang bersatu padu, membuat kami menjamin dengan rasa makanan ini akan membuat kamu menjadi Batak Bangetz.</p>
	                </div>
	                <div class="card-footer">
	                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733; </small>
	                </div>
	              </div>
	            </div>
        	</div>	  

        	<div class="row centered mt mb">
		  		<div class="col-lg-4 col-md-4 col-sm-4">
	              <div class="card h-100">
	                <a href="#"><img class="card-img-top" src="../../assets/img/home/product/itemProduct4.jpg" alt="" style="width:100%";></a>
	                <div class="card-body">
	                  <h4 class="card-title">
	                    <a href="#">Ayam Pinadar</a>
	                  </h4>
	                  <h5>Rp 250.000</h5>
	                  <p class="card-text">Bosan dengan ayam pedas yang itu-itu aja? Kamu mesti cobain ayam pedas yang dibalut dengan bumbu andaliman ini, kami jamin pedesnya bikin hari kamu lebih berwarna.</p>
	                </div>
	                <div class="card-footer">
	                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
	                </div>
	              </div>
	            </div>

	            <div class="col-lg-4 col-md-4 col-sm-4">
	              <div class="card h-100">
	                <a href="#"><img class="card-img-top" src="../../assets/img/home/product/itemProduct5.jpg" alt="" style="width:100%";></a>
	                <div class="card-body">
	                  <h4 class="card-title">
	                    <a href="#">Ayam Gota</a>
	                  </h4>
	                  <h5>Rp 250.000</h5>
	                  <p class="card-text">Ketika rindu akan kampung halaman melanda, maka masakan inilah yang kami rekomendasikan untuk kamu, ayam yang dibalut dengan gota kami jamin dapat melepas rasa rindu kamu.</p>
	                </div>
	                <div class="card-footer">
	                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
	                </div>
	              </div>
	            </div>

             	<div class="col-lg-4 col-md-4 col-sm-4">
	              <div class="card h-100">
	                <a href="#"><img class="card-img-top" src="../../assets/img/home/product/itemProduct6.jpg" alt="" style="width:100%";></a>
	                <div class="card-body">
	                  <h4 class="card-title">
	                    <a href="#">Ayam Balado</a>
	                  </h4>
	                  <h5>Rp 150.000</h5>
	                  <p class="card-text">Pedasnya ayam dari cabai keriting dan gurihnya bawang merah, kami jamin masakan hot ini bakal buat kamu semakin siap menghadapi tantangan hari ini.</p>
	                </div>
	                <div class="card-footer">
	                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
	                </div>
	              </div>
	            </div>
        	</div>	  

        	<div class="row centered mt mb">
		  		<div class="col-lg-4 col-md-4 col-sm-4">
	              <div class="card h-100">
	                <a href="#"><img class="card-img-top" src="../../assets/img/home/product/itemProduct7.jpg" alt="" style="width:100%";></a>
	                <div class="card-body">
	                  <h4 class="card-title">
	                    <a href="#">Ikan Mas Arsik</a>
	                  </h4>
	                  <h5>Rp 150.000</h5>
	                  <p class="card-text">Kamu gak suka ikan? Siap-siap deh ditenggelemin sama ibu menteri kelautan kita, cobain deh masakan ini, kami jamin dengan rasa ikan dengan berselimut andaliman ini akan membuat ibu menteri kita bangga.</p>
	                </div>
	                <div class="card-footer">
	                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
	                </div>
	              </div>
	            </div>

	            <div class="col-lg-4 col-md-4 col-sm-4">
	              <div class="card h-100">
	                <a href="#"><img class="card-img-top" src="../../assets/img/home/product/itemProduct8.jpg" alt="" style="width:100%";></a>
	                <div class="card-body">
	                  <h4 class="card-title">
	                    <a href="#">Ikan Mas Tombur</a>
	                  </h4>
	                  <h5>Rp 150.000</h5>
	                  <p class="card-text">Ikan yang bisa menggetarkan lidah? Iya, gak percaya? maka kamu mesti cobain masakan ini, ikan yang dimasak dengan bumbu khusus ini dijamin bakal ngebuat lidah kamu bergetar.</p>
	                </div>
	                <div class="card-footer">
	                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
	                </div>
	              </div>
	            </div>

             	<div class="col-lg-4 col-md-4 col-sm-4">
	              <div class="card h-100">
	                <a href="#"><img class="card-img-top" src="../../assets/img/home/product/itemProduct9.jpg" alt="" style="width:100%";></a>
	                <div class="card-body">
	                  <h4 class="card-title">
	                    <a href="#">Parcel Buah</a>
	                  </h4>
	                  <h5>Rp 150.000</h5>
	                  <p class="card-text">Ingin makanan penutup yang segar? Makanan ini jawabannya, buah-buah segar berkualitas yang kami jamin dapat menutup makanan kamu menjadi lebih dari sekedar makanan.</p>
	                </div>
	                <div class="card-footer">
	                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
	                </div>
	              </div>
	            </div>
        	</div>	  
        	<h6 style="font-weight: 100">*Gambar di atas hanya digunakan sebagai ilustrasi. Tidak menggambarkan banyaknya/ukuran produk yang dijual.</h2>
      	</div>
	    <!-- /.container -->
	<!-- End Body -->

	<!-- Start Footer -->
		<div id="footerwrap">
			<div class="container">
				<div class="row centered">
					<div class="col-lg-4">
						<p><b>- We Can Do All Things Through Christ -</b></p>
					</div>				
					<div class="col-lg-4">
						<p>Jalan Taman Pondok Gede Blok D1 No.2, Jatirahayu, Pondokmelati, Jatirahayu, Pondokmelati, Kota Bks, Jawa Barat 17414.</p>
					</div>
					<div class="col-lg-4">
						<p>hkbp.pdgede@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	<!-- End Footer -->

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
		<script src="../../assets/js/bootstrap.min.js"></script>
    	<script src="../../assets/js/bootstrap.bundle.min.js"></script>    	
	</body>
</html>